body {
    background-color: #FF8800;
    color: #FF8800;
}

.quote-box {
    margin: 15% 25% 15% 25%;
    padding: 20px 20px 20px 40px;
    height: auto;
    width: 50%;
    background-color: white;
    border-radius: 9px;
    position: relative;
}

.quote-text {
    margin: 20px 10px 20px 10px;
    height: auto;
    word-wrap: break-word;
    font-size: 30px;
}

.quote-author {
    margin: 20px 10px 20px 10px;
    font-size: 24px;
}

.next-and-share {
    margin: 20px 10px 20px 10px;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
    float: right;
}

.btn-primary.outline {
    border: 2px solid #FF8800;
    color: #FF8800;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #FF8800;
    border-color: #FF8800;
    background: white;
}

.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #ffbb33;
    color: #ffbb33;
    box-shadow: none;
}

.btn-primary.outline:hover {
    border-color: #ffbb33;
    color: #ffbb33;
    box-shadow: none;
}

.twit {
    margin-top: 10px;
    color: #FF8800;
}

@media (max-width: 770px) {
    .quote-box {
        margin: 15% 5% 15% 5%;
        width: 90%;
    }

    .quote-text {
        font-size: 20px;
    }

    .quote-author {
        font-size: 17px;
    }

    .btn.outline {
        padding: 5px 10px;
    }
}
